<section id="press" style="padding: 40px 20px;">
  <h2>Press Kit</h2>
  <ul>
    <li><a href="/assets/press/logo.png" download>Logo PNG</a></li>
    <li><a href="/assets/press/wordmark.svg" download>Wordmark SVG</a></li>
    <li><a href="/assets/press/colors.png" download>Color Swatches</a></li>
    <li><a href="/assets/press/bio.txt" download>Short Bio</a></li>
    <li><a href="/assets/press/photos.zip" download>Approved Photos</a></li>
  </ul>
</section>
